.contacto__container {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--third-color);
    height: 788px;
    width: auto;
}

.contacto__izquierda {
    margin-top: 52px;
}
.contacto__derecha{
    margin-top: 65px;
}
.contacto__imagen {
    width: 464px;
    height: 593px;
}

.contacto__titulo {
    font-family: 'Raleway';
    font-style: normal;
    margin: 35px 0 10px 20px;
    font-weight: 700;
    font-size: 32px;
    color: #464646;
}
.contacto__subtitulo{
    font-family: 'Raleway';
    font-style: normal;
    margin: 0 0 10px 15px;
    font-size: 16px;
    color: #464646;
}
.form__label {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #464646;
    margin-left: 15px;
}

.formulario__btn {
    font-family: 'Raleway';
    font-style: normal;
    margin: 0 0 30px 15px;
    width: 144px;
    height: 51px;
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
    background: var(--secondary-color);
    border: none;
    border-radius: 4px;
}

.formulario__btn:disabled {
    color: #c0dafd;
}

.formulario__btn:hover:active {
    background: var(--success-color);

}